<div class="picture_area" style="background-image:url(/images/sign_out_image.jpg)">
  <%= link_to "Pixel Knowledge とは", about_path, class:"sign_out_link" %>
</div>
<div class="catchcopy">描く･添える･手順化<br>あなたの知識定着化を助けます</div>
