<div id="step1" class="step_section">
  <div class="inner">
    <div class="step_description">
      <div class="step_logo">STEP<span>1</span></div>
      <h2>日常で覚えたい事を描く<br>テキスト･画像の挿入も可能！</h2>
      <p>言葉で覚えるよりも、その言葉をイメージ化して覚える方が記憶に残ると言われています。<br>Pixel knowledgeはそのイメージ化をお手伝いします。<br>また、画像やテキストも挿入できるので、絵を描く事が苦手な方もより明確なイメージを作成する事ができます。</p>
    </div>
    <%= image_tag "/images/step1.png" %>
  </div>
  <div class="accent_bg"></div>
</div>
<div id="step2" class="step_section">
  <div class="inner">
    <div class="step_description">
      <div class="step_logo">STEP<span>2</span></div>
      <h2>複数繋げて手順化<br>連なる事を覚えるのに効果的！</h2>
      <p>覚えたい事は単体とは限らず、複数に連なっている事もあると思います。(例: 料理のレシピ、Webサーバーの仕組み)<br>Pixel knowledgeの記録機能なら、都度描いたイメージと言葉を記録して行く事ができ、手順書を作成している様な形で覚えたい事を保存できます。</p>
    </div>
    <%= image_tag "/images/step2.png" %>
  </div>
  <div class="accent_bg"></div>
</div>
<div id="step3" class="step_section">
  <div class="inner">
    <div class="step_description">
      <div class="step_logo">STEP<span>3</span></div>
      <h2>他のユーザーと共有可能<br>知識定着モチベーションUPに！</h2>
      <p>他のユーザーが覚えたい事をイメージ化したものを見る事、コメントする事も可能です。さらに、｢いいね｣する事により、いつでもそのイメージを見返す事ができます。</p>
    </div>
    <%= image_tag "/images/step3.png" %>
  </div>
  <div class="accent_bg"></div>
</div>
<div class="environment">
  <h2>動作環境</h2>
  <div class="environment_description">
    Pixel knowledgeは、下記の環境で動作する事を確認しています。
  </div>
  <div class="environment_blocks">
    <div class="block_item">MacOS<br>High Sierra</div>
    <div class="block_item">Google Chrome<br>Ver 69.0</div>
  </div>
</div>
