html, body {
  height: 100%;
}
body {
  background: #f5f5f5;
}
.inner {
  margin: 0 auto;
  max-width: 1150px;
  position: relative;
}
/* container
----------------------------------------- */
#container {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  position: relative;
}
/* bootstrap 上書き */
.modal-backdrop.in {
  opacity: .5 !important;
}
/* header
----------------------------------------- */
#header {
  background: #fff;
  border-bottom: 1px solid #efefef;
  width: 100%;
}
#header .inner {
  min-height: 80px;
}
/* logo */
#logo {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#logo a {
  display: block;
}
#logo img {
  width: 160px;
}
/* nav */
#nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.nav_menu {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}
.nav_item {
  display: inline-block;
  vertical-align: middle;
}
.nav_btn {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  color: #000;
  display: block;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 128px;
}
.nav_btn:hover {
  background-color: #333;
  border-color: #000;
  color: #fff;
}
/* bootstrap 上書き */
.dropdown-menu {
  border: 1px solid #000;
  border-radius: 3px;
  min-width: 128px;
}
.dropdown-menu>li>a {
  cursor: pointer;
}
/* alert and notice
----------------------------------------- */
/* bootstrap 上書き */
.alert {
  font-size: 14px;
  margin-bottom: 0;
  padding: 15px 0;
  text-align: center;
  width: 100%;
}
.alert-dismissible .close {
  right: 15px;
  top: -5px;
}
/* main
----------------------------------------- */
main {
  padding-bottom: 60px;
}
.picture_area {
  background-position: bottom;
  background-size: cover;
  height: 300px;
  position: relative;
  width: 100%;
}
.picture_area a {
  border-radius: 3px;
  display: block;
  font-size: 20px;
  height: 46px;
  left: 50%;
  line-height: 36px;
  padding: 5px 30px;
  position: absolute;
  top: 50%;
  transform : translate(-50%,-50%);
}
.picture_area a:hover {
  text-decoration: none;
}
.picture_area .sign_in_link {
  border: 1px solid #000;
  color: #333;
}
.picture_area .sign_in_link:hover {
  background-color: #333;
  color: #fff;
}
.picture_area .sign_out_link {
  border: 1px solid #fff;
  color: #fff;
}
.picture_area .sign_out_link:hover {
  background-color: #fff;
  border-color: #000;
  color: #333;
}
.catchcopy {
  background: #fff;
  font-size: 24px;
  letter-spacing: 8px;
  line-height: 36px;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
}
.user_info {
  background: #fff;
  padding-top: 12px;
  position: relative;
}
.user_status, .user_image {
  display: inline-block;
  vertical-align: middle;
}
.user_menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.user_status {
  font-size: 18px;
}
.user_image {
  margin-right: 25px;
  height: 90px;
  padding: 0 5px 5px 0;
  width: 90px;
}
.user_image img {
  border: 1px solid #efefef;
  border-radius: 3px;
  height: 100%;
  width: 100%;
}
.user_name {
  font-weight: 600;
  margin-bottom: 5px;
  max-width: 400px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user_name a {
  color: #000;
}
.user_menu {
  text-align: right;
}
.user_menu a {
  color: #000;
  display: inline-block;
  margin-left: 35px;
}
/* index */
.search_form {
  background: #fff;
  position: relative;
}
.search_form .inner {
  border-top: 1px solid #efefef;
  padding: 24px 145px;
  text-align: center;
}
.search_input {
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 17px;
  height: 43px;
  padding: 0 8px;
  width: 80%;
}
.search_btn {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 17px;
  height: 43px;
  margin-left: 5px;
  width: 43px;
}
.search_btn:hover {
  background-color: #333;
  border-color: #000;
  color: #fff;
}
.work_list {
  padding: 32px 16px 16px;
}
.contents-title {
  font-size: 24px;
  font-weight: 700;
  margin: 24px 0 16px;
  text-align: center;
}
.knowledge_list {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  width: 860px;
}
.knowledge_box_wrap {
  flex: 0 0 272px;
  margin-bottom: 48px;
  margin-right: 22px;
  max-width: 272px;
  width: 272px;
}
.knowledge_box_wrap:nth-child(3n) {
  margin-right: 0;
}
.knowledge_box {
  height: auto;
  margin: 0;
  width: 272px;
}
.knowledge_box_link {
  display: block;
}
.knowledge_box_link:hover {
  opacity: .5;
  text-decoration: none;
}
.knowledge_box h3 {
  background: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  color: #000;
  font-size: 17px;
  margin-bottom: 6px;
  overflow: hidden;
  padding: 12px 8px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.knowledge_box_image {
  border: 1px solid #000;
  border-radius: 3px;
  display: block;
  width: 100%;
}
.knowledge_box_image:hover {
  opacity: .5;
}
.knowledge_box_image img {
  border-radius: 3px;
  width: 100%;
}
.author_wrap {
  float: left;
  margin-top: 3px;
  width: 180px;
}
.author_image {
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  width: 25px;
}
.author_image img {
  background: #fff;
  border-radius: 3px;
  height: 100%;
  width: 100%;
}
.author_name {
  display: inline-block;
  font-size: 12px;
  max-width: 140px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.create_day {
  float: right;
  font-size: 12px;
  margin-top: 9px;
}
.empty_alert {
  font-size: 22px;
  padding: 50px 0;
  text-align: center;
  width: 100%;
}
/* bootstrap 上書き */
.pagination-wrap {
  text-align: center;
}
.pagination>li>a {
  border-color: #000;
  border-radius: 3px;
  color: #333;
  font-size: 14px;
  margin-left: 5px;
}
.pagination>li:first-child>a {
  margin-left: 0px;
}
.pagination>li>a:focus, .pagination>li>a:hover {
  background-color: #333;
  border-color: #000;
  color: #fff;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover {
  background-color: #333;
  border-color: #000;
}
/* about */
.step_section {
  padding-bottom: 120px;
  padding-top: 120px;
  position: relative;
}
.step_section:first-child {
  padding-top: 150px;
}
#step2 .step_description {
  margin-left: auto;
}
.step_description {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  height: 300px;
  padding: 45px;
  position: relative;
  width: 500px;
}
.step_description h2 {
  color: #333;
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 2px;
}
.step_description p {
  color: #616161;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 25px;
  padding-top: 16px;
}
.step_logo {
  font-size: 85px;
  bottom: 95%;
  left: 35px;
  letter-spacing: 8px;
  position: absolute;
  transform: rotate(-5deg);
  z-index: -1;
}
.step_logo span {
  font-size: 120px;
}
#step2 .step_logo {
  left: 125px;
}
.step_section .inner img {
  border: 1px solid #27313d;
  bottom: 0;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  width: 600px;
  z-index: -1;
}
#step2 .inner img {
  left: 0;
}
.accent_bg {
  background: #27313d;
  display: block;
  height: 300px;
  position: absolute;
  right: 0;
  top: 70px;
  width: 60%;
  z-index: -2;
}
#step1 .accent_bg {
  top: 100px;
}
#step2 .accent_bg {
  left: 0;
  right: auto;
}
.environment {
  padding-bottom: 120px;
}
.environment h2 {
  color: #333;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}
.environment_description {
  color: #616161;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 40px auto;
  max-width: 500px;
  text-align: center;
}
.environment_blocks {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.block_item {
  border: 1px solid #6e6e6e;
  font-size: 14px;
  line-height: 18px;
  margin: 0 16px;
  padding: 24px;
  text-align: center;
  width: 160px;
}
/* show */
.show_area {
  background: #fff;
  border: 1px solid #efefef;
  margin: 50px auto;
  max-width: 860px;
}
.show_area_wrap {
  margin: 30px auto;
  max-width: 700px;
  padding: 0 5px;
}
.knowledge_info_area {
  margin-bottom: 10px;
}
.knowledge_title {
  border-top: 1px solid #cfcfcf;
  color: #000;
  font-size: 17px;
  padding: 12px 0;
  text-align: left;
}
.knowledge_content {
  font-size: 14px;
  padding: 12px 0;
  text-align: left;
}
.knowledge_step_comment {
  border-top: 1px solid #000;
  display: block;
  font-size: 14px;
  padding: 12px 0;
  text-align: left;
}
.knowledge_option_area {
  font-size: 14px;
  padding-bottom: 5px;
  text-align: right;
}
.knowledge_option_area:after {
  clear: both;
  content: "";
  display: block;
}
.knowledge_good {
  float: left;
}
.knowledge_good a {
  color: #000;
}
.knowledge_links {
  float: right;
}
.knowledge_links a {
  color: #000;
  display: inline-block;
}
.knowledge_comment_area {
  border-top: 1px solid #cfcfcf;
  padding-top: 10px;
}
.knowledge_comment_area h3 {
  margin-bottom: 15px;
}
.comment_item {
  margin-bottom: 10px;
}
.comment_user_image {
  float: left;
  margin-right: 10px;
  width: 50px;
}
.comment_user_image img {
  border: 1px solid #efefef;
  border-radius: 3px;
  height: 48px;
  width: 48px;
}
.comment_user_status {
  font-size: 14px;
  overflow: hidden;
}
.comment_user_name {
  margin-bottom: 5px;
  max-width: 290px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.comment_text{
  margin-bottom: 10px;
}
.comment_create_day {
  color: #8a8a8a;
  float: left;
  font-size: 11px;
}
.comment_links {
  float: right;
  font-size: 11px;
}
.comment_form {
  border-top: 1px solid #cfcfcf;
  padding-top: 20px;
}
.comment_form .canvas_l_input {
  height: 68px;
}
.comment_form .error_line {
  text-align: center;
}
.comment_edit_form .canvas_l_input {
  height: 60px;
}
.comment_edit_form div {
  text-align: center;
}
.comment_edit_form .submit_btn {
  display: inline-block;
  margin: 20px auto 30px;
  width: 25%;
}
.comment_edit_form .error_line {
  text-align: center;
}
.knowledge_comment_area .empty_alert {
  font-size: 14px;
  padding: 10px 0 40px;
}
/* bxslider 上書き */
.bx-wrapper .bx-loading {
  background: url("/images/bx_loader.gif") center center no-repeat #ffffff !important;
}
.bx-wrapper .bx-controls-direction a {
  display: none;
}
/* profile */
.profile_edit {
  background: #fff;
  border: 1px solid #efefef;
  margin: 50px auto;
  padding: 15px;
  max-width: 600px;
}
.profile_edit .user_image {
  margin-right: 0;
}
.remove_user_image {
  display: inline-block;
  font-size: 14px;
  padding-bottom: 7px;
  vertical-align: bottom;
}
.field_with_errors input {
  border: 1px solid #f00;
}
.profile_edit .submit_btn {
  margin: 20px auto;
}
/* canvas */
.canvas_area {
  margin: 50px auto;
}
.canvas_area:after {
  clear: both;
  content: "";
  display: block;
}
.canvas_active_area {
  background: #fff;
  border-radius: 3px;
  float: left;
  padding: 10px;
  width: 820px;
}
.content_input {
  height: 60px;
}
#my_canvas {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.canvas_select_area {
  background: #fff;
  border-radius: 3px;
  float: right;
  margin-bottom: 10px;
  padding: 10px;
  width: 320px;
}
.canvas_select_area .btn-group {
  font-size: 12px;
}
.canvas_select_area .btn-group .dropdown-menu {
  border-color: #ccc;
  font-size: 12px;
  min-width: 100px;
  overflow: scroll;
}
.canvas_select_area .btn-group:nth-of-type(2) .dropdown-menu {
  height: 150px;
}
.canvas_select_area .btn-group .btn-sm {
  padding: 2px 4px;
}
.canvas_l_input {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-bottom: 5px;
  resize: vertical;
  width: 100%;
}
.canvas_r_input {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-bottom: 5px;
  resize: vertical;
  width: 100%;
}
.insert_text_input {
  font-size: 14px;
  height: 46px;
}
.comment_input {
  font-size: 14px;
  height: 74px;
}
.canvas_step {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  float: left;
  text-align: center;
  width: 100%;
}
.step_bar {
  border-bottom: 1px solid #e5e5e5;
  padding: 5px;
  text-align: left;
}
.step_num {
  float: right;
  font-size: 12px;
  line-height: 1.5;
  padding: 6px 0;
}
.step_images {
  height: 400px;
  overflow: scroll;
  text-align: center;
}
.step_images li {
  background: #000;
  display: inline-block;
  list-style: none;
  margin: 5px 0;
  width: 80%;
}
.step_images .edit_step {
  cursor: pointer;
}
.step_images img {
  border: 1px solid #e5e5e5;
  vertical-align: top;
  width: 100%;
}
.step_images .edit_step img:hover {
  opacity: .7
}
/* jquery.minicolors 上書き */
.form-control {
  border-color: #ccc;
  border-radius: 3px;
  box-shadow: none;
  font-size: 12px;
  height: 24px !important;
  margin-top: 3px;
  padding: 9px 5px 10px;
}
.minicolors-theme-default .minicolors-input {
  width: 90px !important;
}
.minicolors-theme-default .minicolors-swatch {
  border-radius: 3px;
  cursor: pointer;
  top: 6px !important;
}
/* sign_in and sign_up
----------------------------------------- */
.modal_sign_item {
  font-size: 14px;
  padding-bottom: 5px;
}
.modal_sign_item + li input {
  font-size: 14px;
  padding: 5px;
}
.modal_sign_input {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.submit_btn {
  display: block;
  font-size: 14px;
  margin: 20px auto 0;
  width: 50%;
}
/* bootstrap 上書き */
.modal-body p {
  font-size: 14px;
}
/* sign_in
----------------------------------------- */
.sign_in_error {
  color: #f00;
  display: none;
  font-size: 14px;
  margin-bottom: 15px;
}
.modal_password_forgot {
  display: none;
}
.remember_me {
  font-size: 14px;
  padding-top: 10px;
  text-align: center;
}
.link_password_forgot {
  font-size: 14px;
  padding-top: 20px;
  text-align: center;
}
/* password_forgot
----------------------------------------- */
.link_sign_in {
  font-size: 14px;
  padding-top: 20px;
  text-align: center;
}
.error_line {
  color: #f00;
  font-size: 14px;
}
/* sign_up
----------------------------------------- */
.upload_image {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  color: #999;
  cursor: pointer;
  font-size: 14px;
  height: 100%;
  margin-bottom: 5px;
  padding: 8px 5px;
  width: 100%;
}
/* footer
----------------------------------------- */
#footer {
  background: #fff;
  bottom: 0;
  font-size: 14px;
  height: 60px;
  padding: 20px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* responsive tablet
----------------------------------------- */
@media (max-width: 1024px) and (min-width: 768px) {

/* header */
#header .inner {
  margin: 0 16px;
}
/* main */
.user_info .inner {
  padding: 0 16px;
}
.user_menu {
  display: none;
}
/* index */
.knowledge_list {
  width: 100%;
}
.knowledge_box_wrap {
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
  margin: 0 5px 10px;
  width: calc(50% - 10px);
}
.knowledge_box_wrap:nth-child(2n) {
  margin-right: 0;
}
.knowledge_box_wrap:nth-child(3n) {
  margin: 0 5px 10px;
}
.knowledge_box {
  width: 100%;
}
/* about */
.step_section {
  padding-bottom: 40px;
  padding-top: 150px;
}
.step_section:first-child {
  padding-top: 180px;
}
.step_description {
  height: 190px;
  padding: 20px;
  width: 45%;
}
.step_description h2 {
  font-size: 14px;
  line-height: 25px;
}
.step_description p {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}
.step_logo {
  font-size: 65px;
  left: 0;
}
.step_logo span {
  font-size: 100px;
}
#step2 .step_logo {
  left: auto;
  right: 0;
}
.step_section .inner img {
  width: 50%;
}
.accent_bg {
  height: 190px;
  top: 100px;
}
#step1 .accent_bg {
  top: 130px;
}
/* show */
.knowledge_links {
  display: none;
}

}
/* responsive smart-phone
----------------------------------------- */
@media screen and (max-width: 767px) {

/* header */
#header .inner {
  min-height: 50px;
  margin: 0 5px;
}
/* logo */
#logo img {
  width: 100px;
}
/* nav */
.nav_btn {
  font-size: 13px;
  height: 26px;
  line-height: 26px;
  width: 96px;
}
.dropdown-menu {
  font-size: 13px;
  min-width: 96px;
}
.dropdown-menu>li>a {
  padding: 1px 7px 2px;
}
/* main */
.picture_area {
  height: 110px;
}
.picture_area a {
  font-size: 13px;
  height: 26px;
  line-height: 18px;
  padding: 5px 10px;
}
.picture_area a:hover {
  text-decoration: none;
}
.catchcopy {
  font-size: 16px;
  letter-spacing: 5px;
  line-height: 24px;
}
.user_info .inner {
  padding: 0 5px;
}
.user_image {
  margin-right: 5px;
  height: 60px;
  width: 60px;
}
.user_image img {
  height: 100%;
  width: 100%;
}
.user_status {
  font-size: 13px;
}
.user_name {
  max-width: 200px;
}
.user_menu {
  display: none;
}
/* index */
.search_form .inner {
  padding: 12px 0;
}
.search_input {
  font-size: 13px;
  height: 33px;
}
.search_btn {
  font-size: 13px;
  height: 33px;
}
.work_list {
  padding: 16px 0px 8px;
}
.contents-title {
  font-size: 15px;
  margin: 12px 0 16px;
}
.knowledge_list {
  width: 100%;
}
.knowledge_box_wrap {
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
  margin: 0 5px 10px;
  width: calc(50% - 10px);
}
.knowledge_box_wrap:nth-child(2n) {
  margin-right: 0;
}
.knowledge_box_wrap:nth-child(3n) {
  margin: 0 5px 10px;
}
.knowledge_box {
  width: 100%;
}
.knowledge_box h3 {
  font-size: 13px;
  padding: 6px 4px;
}
.author_wrap {
  width: 100%;
}
.author_image {
  height: 20px;
  width: 20px;
}
.author_name {
  font-size: 10px;
  max-width: 120px;
}
.create_day {
  display: none;
}
.empty_alert {
  font-size: 16px;
  padding: 20px 0;
}
.page-item-number, .page-item-first-page, .page-item-last-page {
  display: none !important;
}
/* about */
.step_section:first-child {
  padding-top: 250px;
}
.step_description {
  height: 220px;
  padding: 20px;
  width: 320px;
}
.step_description h2 {
  font-size: 14px;
  line-height: 25px;
}
.step_description p {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}
.step_logo {
  display: none;
}
.step_section .inner img {
  right: auto;
  top: -100%;
  width: 320px;
}
#step2 .inner img {
  left: auto;
  right: 0;
}
.accent_bg {
  top: -25px;
}
#step1 .accent_bg {
  top: 105px;
}
.environment_blocks {
  display: block;
}
.block_item {
  margin: 0 auto 5px;
  width: 100%;
}

/* show */
.show_area {
  margin: 15px auto;
}
.show_area_wrap {
  margin: 10px auto;
}
.knowledge_info_area .user_status {
  font-size: 14px;
}
.knowledge_info_area .user_image {
  width: 60px;
}
.knowledge_info_area .user_image img {
  height: 58px;
  width: 58px;
}
.knowledge_links {
  display: none;
}
.comment_user_name {
  max-width: 200px;
}
.comment_edit_form .btn {
  padding: 6px 3px;
}
.comment_edit_form .submit_btn {
  font-size: 14px;
  width: 35%;
}
/* bxslider 上書き */
.bx-wrapper .bx-pager.bx-default-pager a {
  margin: 0 1px !important;
}
/* profile */
.profile_edit {
  margin: 15px auto;
}

}
